html{
    height: 100%;  
}

body{
    font-family: sans-serif;

    margin: 0;
    padding: 0;

    height: 100%;

}

.body-home{
    background-image: url('images/background_01.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-starters{
    background-image: url('images/background-02-land.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-meals{
    background-image: url('images/background-02-land.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;  
}

.body.drinks{
    background-image: url('images/background-02-land.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
    
.body.deserts{
    background-image: url('images/background-02-land.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*============HEADER==========*/

.header{
    background-color: none;

    width:100%;
    height: 50px;
    top: 0;

    position: fixed;
    overflow: hidden;

    text-align: center;
}
.header i{
    float: left;
    padding: 17px 0px 0px;
    color: 3=#ffffff;
}

.header img {
    width: 50px;
    padding-top: 14px;

    padding-right: 25px;
}
/*============HOME PAGE==========*/

#home-logo-img{
    width: 50px;
    display: block;
    margin: auto;
    padding: 25px 10px 10px 10px;
}

#home-logo-img{
    width: auto;
    display: block;
    margin: auto;
    padding: 30px;
}

/*============HOME PAGE MENU=========*/

.home-menu-item{
    text-decoration: none;
    text-transform: uppercase;

    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 5px solid white;

    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
}

/*============STARTERS PAGE==========*/
#starters {
    padding-top: 50px;
}
/*============STARTERS PAGE MENU=========*/

.starters-item a {
    text-decoration: none;
}


.starters-list-item{
    border: 5px solid #1a1a1a;
    margin: 10px;
}

.starters-list-item h1{
    font-weight: bold;
    font-size: 20px;
    color: #1a1a1a;
    padding-left: 10px;
}

.starters-list-item i{
    float: right;
    color: #1a1a1a;
    padding-right: 20px;
}

.starters-list-item p{
    font-size: 15px;
    font-style: italic;
    color: #4d4d4d;
    margin-top: -7px;
    padding-left: 10px;
}

/*============MEALS PAGE==========*/
#meals {
    padding-top: 50px;
}

/*============MEALS PAGE MENU=========*/

.meals-item a {
    text-decoration: none;
}


.meals-list-item{
    border: 5px solid #1a1a1a;
    margin: 10px;
}

.meals-list-item h1{
    font-weight: bold;
    font-size: 20px;
    color: #1a1a1a;
    padding-left: 10px;
}

.meals-list-item i{
    float: right;
    color: #1a1a1a;
    padding-right: 20px;
}

.meals-list-item p{
    font-size: 15px;
    font-style: italic;
    color: #4d4d4d;
    margin-top: -7px;
    padding-left: 10px;
}

/*============DRINKS PAGE==========*/
#drinks {
    padding-top: 50px;
}
/*============DRINKS PAGE MENU=========*/
.drinks-item a {
    text-decoration: none;
}

.drinks-list-item{
    border: 5px solid #1a1a1a;
    margin: 10px;
}

.drinks-list-item h1{
    font-weight: bold;
    font-size: 20px;
    color: #1a1a1a;
    padding-left: 10px;
}

.drinks-list-item i{
    float: right;
    color: #1a1a1a;
    padding-right: 20px;
}

.drinks-list-item p{
    font-size: 15px;
    font-style: italic;
    color: #4d4d4d;
    margin-top: -7px;
    padding-left: 10px;
}

/*============DESERTS PAGE==========*/
#deserts {
    padding-top: 50px;
}
/*============DESERTS PAGE MENU=========*/

.deserts-item a {
    text-decoration: none;
}

.deserts-list-item{
    border: 5px solid #1a1a1a;
    margin: 10px;
}

.deserts-list-item h1{
    font-weight: bold;
    font-size: 20px;
    color: #1a1a1a;
    padding-left: 10px;
}

.deserts-list-item i{
    float: right;
    color: #1a1a1a;
    padding-right: 20px;
}

.deserts-list-item p{
    font-size: 15px;
    font-style: italic;
    color: #4d4d4d;
    margin-top: -7px;
    padding-left: 10px;
}

/*============RESPONSIVE LAYOUT=========*/
@media only screen and (min-width: 1000px) {
    #starters{
        width: 80%;
        margin: auto;
    }
    #recipe{
        width: 80%;
        margin: auto;
    }
    }

    @media only screen and (min-width: 1500px) {
        #meals{
            width: 40%;
            margin: auto;
        }
        #recipe{
            width: 40%;
            margin: auto;
        }
    }